params{

Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
RefAmb = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.amb"
RefAnn = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.ann"
RefBwt = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.bwt"
RefPac = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.pac"
RefSa = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.sa"

TrimmedInputRead1 = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/trim_sequences/NextflowWorkflowPB.read1.trimmed.fq.gz"
TrimmedInputRead2 = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/trim_sequences/NextflowWorkflowPB.read2.trimmed.fq.gz"
AlignEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/alignment.txt"
AlignmentOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/alignment"

SampleName = "NextflowWorkflowPB"
Group = "Batch1"
Platform = "Illumina"
PairedEnd = "true"
ChunkSize = "10000000"
SentieonThreads = "8"

AlignmentScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/shell/alignment.sh"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"  

DebugMode = "-d"

}

