params{

InputAlignedSortedBam = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/alignment/NextflowWorkflowPB.aligned.sorted.bam"
InputAlignedSortedBamBai = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/alignment/NextflowWorkflowPB.aligned.sorted.bam.bai"

DedupEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"

SampleName = "NextflowWorkflowPB"
SentieonThreads = "8"

DedupScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/shell/dedup.sh"
DedupOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/dedup"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"  

DebugMode = "-d"

}

