params {

/** Logistics variables of the pipeline */
NextflowExecutable = "/usr/local/apps/bioapps/nextflow/nextflow-0.30.1.4844/nextflow"
NextflowScriptsDir = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/nextflow/Tasks"
NextflowShellDir = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell"
ConfigsDir = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/NextflowConfig"


/** General variables used for most processes in the pipeline */
SampleName = "NextflowWorkflowTest"
PairedEnd = "true"
DebugMode = "-d"
Platform = "Illumina"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"
SentieonThreads = "24"


/** Input reads */
InputRead1 = "/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_10000reads_L1.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_10000reads_L2.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_10000reads_L3.fq "
InputRead2 = "/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_10000reads_L1.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_10000reads_L2.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_10000reads_L3.fq"


/** Trim sequences specific variables */
TrimSeqScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/trim_sequences.sh"
Adapters = "/projects/bioinformatics/MRW/MayomicsVC-Dev/test_inputs/toy_adapters.fa"
CutAdapt = "/usr/local/apps/bioapps/python/Python-3.6.1/bin"
CutAdaptThreads = "24"
TrimEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/trim_sequences.txt"
Trim_sequencesOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/trimOutputFolder"


/** Alignment specific variables */
AlignmentScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/alignment.sh"
Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
//OTHER REFS?/////////////////
RefAmb = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.amb"
RefAnn = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.ann"
RefBwt = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.bwt"
RefPac = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.pac"
RefSa = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.sa"
//////////////////////////////
ChunkSize = "10000000"
Library = "someLibrary"
SequencingCenter = "someSequencingCenter"
BWAExtraOption = "-M"
AlignmentOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/alignmentOutputFolder"
AlignEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/alignment.txt"


/** Merge specific variables */
MergeScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/merge_bams.sh" 
MergeOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/mergeOutputFolder"
MergeEnvProfile = "/ui/ncsa/istanto2/git_dev_folders/mergeMayomicsVC/merge.txt"


/** Dedup specific variables */
DedupScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/dedup.sh"
DedupOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/DedupOutputFolder"
DedupEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"

}



