params{

Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
RefFai = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.fai"
RecalTable = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.recal_data.table"

DBSNP = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf"
DBSNPidx = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf.idx"

InputAlignedSortedDedupedRealignedBam = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.aligned.sorted.deduped.realigned.bam"
InputAlignedSortedDedupedRealignedBamBai = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.aligned.sorted.deduped.realigned.bam.bai"
HaplotyperEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/haplotyper_env.txt"

SampleName = "NextflowWorkflowPB"
SentieonThreads = "8"

HaplotyperScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/haplotyper.sh"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"
HaplotyperExtraOptions = "'--emit_mode variant --gq_bands 1-60,60-99/19,99 --min_base_qual 10 --pcr_indel_model CONSERVATIVE --phasing 1 --ploidy 2 --prune_factor 2'"
HaplotyperOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"


DebugMode = "-d"

}
