params{

Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
RefFai = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.fai"

InputAlignedSortedDedupedBam = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.aligned.sorted.deduped.bam"
InputAlignedSortedDedupedBamBai = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.aligned.sorted.deduped.bam.bai"
RealignEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/realign_env.txt"
RealignmentKnownSites = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr21.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr22.vcf"
RealignmentOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"

SampleName = "NextflowWorkflowPB"
SentieonThreads = "8"

RealignmentScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/realignment.sh"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"

DebugMode = "-d"

}
