params{
InputRead1 = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/fastqs/hg38_chr_20_21_22_merged_copy1_read1.fq.gz"
InputRead2 = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/fastqs/hg38_chr_20_21_22_merged_copy1_read2.fq.gz"
Adapters = "/projects/bioinformatics/MRW/MayomicsVC-Dev/test_inputs/toy_adapters.fa"
CutAdapt = "/usr/local/apps/bioapps/python/Python-3.6.1/bin"
CutAdaptThreads = "8"
PairedEnd = "true"
DebugMode = "-d"
SampleName = "NextflowWorkflowPB"
TrimSeqScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/shell/trim_sequences.sh"
TrimEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/trim_sequences.txt"
Trim_sequencesOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowOutputs/trim_sequences"
}
