params {

/** Logistics variables of the pipeline */
NextflowExecutable = ""
NextflowScriptsDir = ""
NextflowShellDir = ""
ConfigsDir = ""


/** General variables used for most processes in the pipeline */
SampleName = ""
PairedEnd = ""
DebugMode = ""
Platform = ""
Sentieon = ""
SentieonThreads = ""
SharedFunctionScript = NextflowShellDir + "/shared_functions.sh"

/** Input reads */
InputRead1 = ""
InputRead2 = ""

/** Trim sequences specific variables */
TrimMultinode = ""
TrimExecutor = ""
TrimQueue = ""
TrimCpus =
TrimWalltime = ""
TrimMaxNodes =  
Adapters = ""
CutAdapt = ""
CutAdaptThreads = ""
TrimSeqScript = ""
Trim_sequencesOutputDirectory = ""
TrimEnvProfile = ""


/** Alignment specific variables */
AlignmentMultinode = ""
AlignmentExecutor = ""
AlignmentQueue = ""
AlignmentCpus = 
AlignmentWalltime = ""
AlignmentMaxNodes = 
Ref = ""
RefAmb = ""
RefAnn = ""
RefBwt = ""
RefPac = ""
RefSa = ""
ChunkSize = ""
Library = ""
SequencingCenter = ""
BWAExtraOption = ""
AlignmentScript = ""
AlignmentOutputDirectory = ""
AlignEnvProfile = ""


/** Merge specific variables */
MergeScript = "" 
MergeOutputDirectory = ""
MergeEnvProfile = ""


/** Dedup specific variables */
DedupScript = ""
DedupOutputDirectory = ""
DedupEnvProfile = ""


/** Realignment specific variables */
Ref = Ref // Defined in alignment specific variables
RealignmentKnownSites = ""
RealignmentScript = ""
RealignmentOutputDirectory = ""
RealignEnvProfile = ""


/** BQSR specific variable */
Ref = Ref // Defined in alignment specific variables
BQSRKnownSites = ""
BQSRScript = ""
BQSROutputDirectory = ""
BQSREnvProfile = ""


/** Haplotyper specific variable */
DBSNP = ""
DBSNPidx = ""
HaplotyperExtraOptions = "''"
HaplotyperScript = ""
HaplotyperOutputDirectory = ""
HaplotyperEnvProfile = ""


/** VQSR specific variable */
Ref = Ref // Defined in alignment specific variables
VqsrSnpResourceString = "''"
VqsrIndelResourceString = "''"
AnnotateText = "''"
VqsrScript = ""
VqsrOutputDirectory = ""
VqsrEnvProfile = ""


}

process {
	withLabel: "TrimMN" {
		executor =  params.TrimExecutor
		queue = params.TrimQueue
		cpus = params.TrimCpus
		time = params.TrimWalltime
		maxForks = params.TrimMaxNodes
	}

	withLabel: "AlignMN" {
		executor = params.AlignmentExecutor
		queue = params.AlignmentQueue
		cpus = params.AlignmentCpus
		time = params.AlignmentWalltime
		maxForks = params.AlignmentMaxNodes

	}
	
}
