params {

/** Logistics variables of the pipeline */
NextflowExecutable = "/usr/local/apps/bioapps/nextflow/nextflow-0.30.1.4844/nextflow"
NextflowScriptsDir = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/nextflow/Tasks"
NextflowShellDir = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell"
ConfigsDir = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/NextflowConfig"


/** General variables used for most processes in the pipeline */
SampleName = "NextflowWorkflowTest"
PairedEnd = "true"
DebugMode = "-d"
Platform = "Illumina"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"
SentieonThreads = "24"
SharedFunctionScript = NextflowShellDir + "/shared_functions.sh"

/** Input reads */
InputRead1 = "/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_L1.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_L2.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_L3.fq"
InputRead2 = "/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_L1.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_L2.fq,/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_L3.fq"
//InputRead1 = "/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read1_L1.fq"
//InputRead2 = "/projects/bioinformatics/DaveStuff/testing_multilane_results/input_reads/hg38_chr_20_21_22_merged_copy1_read2_L1.fq"

/** Trim sequences specific variables */
TrimSeqScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/trim_sequences.sh"
Adapters = "/projects/bioinformatics/MRW/MayomicsVC-Dev/test_inputs/toy_adapters.fa"
CutAdapt = "/usr/local/apps/bioapps/python/Python-3.6.1/bin"
CutAdaptThreads = "24"
TrimEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/trim_sequences.txt"
Trim_sequencesOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/trimOutputFolder"


/** Alignment specific variables */
AlignmentScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/alignment.sh"
Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
//OTHER REFS?/////////////////
RefAmb = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.amb"
RefAnn = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.ann"
RefBwt = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.bwt"
RefPac = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.pac"
RefSa = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.sa"
//////////////////////////////
ChunkSize = "10000000"
Library = "someLibrary"
SequencingCenter = "someSequencingCenter"
BWAExtraOption = "-M"
AlignmentOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/alignmentOutputFolder"
AlignEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/alignment.txt"


/** Merge specific variables */
MergeScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/merge_bams.sh" 
MergeOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/mergeOutputFolder"
MergeEnvProfile = "/ui/ncsa/istanto2/git_dev_folders/mergeMayomicsVC/merge.txt"


/** Dedup specific variables */
DedupScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/dedup.sh"
DedupOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/DedupOutputFolder"
DedupEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"


/** Realignment specific variables */
RealignmentScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/realignment.sh"
Ref = Ref // Defined in alignment specific variables
RealignmentKnownSites = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr21.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr22.vcf"
RealignmentOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/realignmentOutputFolder"
RealignEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"


/** BQSR specific variable */
BQSRScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/bqsr.sh"
Ref = Ref // Defined in alignment specific variables
BQSRKnownSites = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr21.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr22.vcf"
BQSROutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/bqsrOutputFolder"
BQSREnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"


/** Haplotyper specific variable */
HaplotyperScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/haplotyper.sh"
DBSNP = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf"
DBSNPidx = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf.idx"
HaplotyperOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/haplotyperOutputFolder"
HaplotyperEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"
HaplotyperExtraOptions = "'--emit_mode variant --gq_bands 1-60,60-99/19,99 --min_base_qual 10 --pcr_indel_model CONSERVATIVE --phasing 1 --ploidy 2 --prune_factor 2'"


/** VQSR specific variable */
VqsrScript = "/projects/bioinformatics/DaveStuff/testing_multilane_results/Genomics_MGC_VariantCalling_Nextflow/src/shell/vqsr.sh"
Ref = Ref // Defined in alignment specific variables
VqsrSnpResourceString = "'--resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/1000G/1000G_phase1.snps.high_confidence.hg38_onlychr20_21_22.vcf.gz --resource_param 1000G,known=false,training=true,truth=false,prior=10.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/omni/1000G_omni2.5.hg38_only_chr20_21_22.vcf.gz --resource_param omni,known=false,training=true,truth=false,prior=12.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/hapmap/hapmap_3.3.hg38_onlychr20_21_22.vcf.gz --resource_param hapmap,known=false,training=true,truth=true,prior=15.0'"
VqsrIndelResourceString = "'--resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf --resource_param Mills,known=false,training=true,truth=true,prior=12.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0'"
AnnotateText = "'--annotation DP --annotation QD --annotation FS --annotation SOR --annotation MQ --annotation MQRankSum --annotation ReadPosRankSum'"
VqsrOutputDirectory = "/projects/bioinformatics/DaveStuff/testing_multilane_results/vqsrOutputFolder"
VqsrEnvProfile = "/projects/bioinformatics/PrakruthiWork/NextflowEnv/dedup.txt"


}



