params{

Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
RefFai = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.fai"

InputVCF = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.vcf"
InputVCFIdx = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/NextflowWorkflowPB.vcf.idx"

VqsrEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/vqsr_env.txt"
VqsrOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"

SampleName = "NextflowWorkflowPB"
SentieonThreads = "8"

VqsrScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/vqsr.sh"
Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"

VqsrSnpResourceString = "'--resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/1000G/1000G_phase1.snps.high_confidence.hg38_onlychr20_21_22.vcf.gz --resource_param 1000G,known=false,training=true,truth=false,prior=10.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/omni/1000G_omni2.5.hg38_only_chr20_21_22.vcf.gz --resource_param omni,known=false,training=true,truth=false,prior=12.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/hapmap/hapmap_3.3.hg38_onlychr20_21_22.vcf.gz --resource_param hapmap,known=false,training=true,truth=true,prior=15.0'"

VqsrIndelResourceString = "'--resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf --resource_param Mills,known=false,training=true,truth=true,prior=12.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0'"

AnnotateText = "'--annotation DP --annotation QD --annotation FS --annotation SOR --annotation MQ --annotation MQRankSum --annotation ReadPosRankSum'"

DebugMode = "-d"

}
