params{

SampleName = "WorkflowPB"
PairedEnd = "true"
DebugMode = "-d"

CutAdapt = "/usr/local/apps/bioapps/python/Python-3.6.1/bin"
CutAdaptThreads = "8"

Sentieon = "/usr/local/apps/bioapps/sentieon/sentieon-genomics-201711.02"
Group = "Batch1"
Platform = "Illumina"
ChunkSize = "10000000"
SentieonThreads = "8"

InputRead1 = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/hg38_chr_20_21_22_merged_copy1_read1.fq"
InputRead2 = "/projects/bioinformatics/PrakruthiWork/NextflowRuns/hg38_chr_20_21_22_merged_copy1_read2.fq"
Adapters = "/projects/bioinformatics/MRW/MayomicsVC-Dev/test_inputs/toy_adapters.fa"

Ref = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta"
RefAmb = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.amb"
RefAnn = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.ann"
RefBwt = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.bwt"
RefPac = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.pac"
RefSa = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.sa"
RefFai = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/reference_and_index/Homo_sapiens_assembly38_chr20_21_22.fasta.fai" 
TrimSeqScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/trim_sequences.sh"
TrimEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/trim_env.txt"
TrimSequencesOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"

AlignEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/align_env.txt"
AlignmentOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"
AlignmentScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/alignment.sh"

DedupEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/dedup_env.txt"
DedupScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/dedup.sh"
DedupOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"

RealignEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/realign_env.txt"
RealignmentKnownSites = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr21.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr22.vcf"
RealignmentScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/realignment.sh"
RealignmentOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"

BQSREnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/bqsr_env.txt"
BQSRKnownSites = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr21.vcf,/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr22.vcf"
BQSROutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"
BQSRScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/bqsr.sh"

DBSNP = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf"
DBSNPidx = "/projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf.idx"

HaplotyperScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/haplotyper.sh"
HaplotyperExtraOptions = "'--emit_mode variant --gq_bands 1-60,60-99/19,99 --min_base_qual 10 --pcr_indel_model CONSERVATIVE --phasing 1 --ploidy 2 --prune_factor 2'"
HaplotyperOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns" 
HaplotyperEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/haplotyper_env.txt"

VqsrEnvProfile = "/projects/bioinformatics/PrakruthiWork/env_files/vqsr_env.txt"
VqsrOutputDirectory = "/projects/bioinformatics/PrakruthiWork/NextflowRuns"
VqsrScript = "/projects/bioinformatics/PrakruthiWork/Genomics_MGC_VariantCalling_Nextflow/src/bash_scripts/vqsr.sh"

VqsrSnpResourceString = "'--resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/1000G/1000G_phase1.snps.high_confidence.hg38_onlychr20_21_22.vcf.gz --resource_param 1000G,known=false,training=true,truth=false,prior=10.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/omni/1000G_omni2.5.hg38_only_chr20_21_22.vcf.gz --resource_param omni,known=false,training=true,truth=false,prior=12.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/hapmap/hapmap_3.3.hg38_onlychr20_21_22.vcf.gz --resource_param hapmap,known=false,training=true,truth=true,prior=15.0'"

VqsrIndelResourceString = "'--resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/indels/Mills_and_1000G_gold_standard.indels.hg38.chr20.vcf --resource_param Mills,known=false,training=true,truth=true,prior=12.0 --resource /projects/bioinformatics/DataPacks/human/Hg38_chr20_21_22_simulated_data_Jan_2018/dbSNP/dbsnp_146.hg38.chr20_21_22.vcf --resource_param dbsnp,known=true,training=false,truth=false,prior=2.0'"

AnnotateText = "'--annotation DP --annotation QD --annotation FS --annotation SOR --annotation MQ --annotation MQRankSum --annotation ReadPosRankSum'"

}



